<footer class="footer">
  <small>
	© 2012 Snapstarter, LLC. All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>