<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "twitter app", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "@memsic", "https://twitter.com/memsic" %></li>
          <li><%= link_to "Snapstarter", "http://snapstarter.com/" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>